$bottomHeight:1rem;
$topBarHeight:0.8rem;
//默认浅色主题
:root {
    --bg-color: #fff;
    --text-color: #2E2E2E;
    --tabbar-default: #b3b3b3;
    --tabbar-activate: #4d4d4d;
    --cut-off-rule: #f2f2f2;
    --discover-topBar-noSelect: #B3B3B3;
    --discover-topBar-selected: #2E2E2E;
}

//深色主题
:root[theme='dark'] {
    --bg-color: #151515;
    --text-color: #BFBFBF;
    --tabbar-default: #5B5B5B;
    --tabbar-activate: #838383;
    --cut-off-rule: #F2F2F2;
}